<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dishmenu.nerdcutlet.com.dishmenuandroidapp">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.Register" />
        <activity android:name=".activity.Home" />
        <activity android:name=".activity.UserDetails" />
        <activity android:name=".activity.Restaurant" />
        <activity android:name=".activity.RestaurantDetails" />
        <activity android:name=".activity.Menus" />
        <activity android:name=".activity.MenuItems" />
        <activity android:name=".activity.DishDetails" />
        <activity android:name=".activity.TableActivity" />
        <activity android:name=".activity.AddDish" />
        <activity android:name=".activity.UserOrders"></activity>
    </application>

</manifest>